* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  color: #f2f2f2;
  font-size: 26px;
}

nav li {
  padding: 7px;
}

nav li a {
  text-align: center;
  text-decoration: none;
  color: #f2f2f2;
}

nav li:hover {
  background-color: #ddd;
}

nav li:hover:not(.active) a {
  color: black;
}

nav li.active {
  background-color: #0027d6;
}

main {
  flex: 1;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

p {
  text-shadow: 2px 1px #ffffff;
}

#myDIV {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    text-shadow: 10px 20px 30px rgb(255, 255, 255);
  }
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  border-style: groove groove groove groove;
  border-width: 10px;
  width: 300px;
  height: 300px;
  background-image: url("./images/blue.png");
}

.responsive {
  max-width: 100%;
  height: auto;
  border-style: groove groove groove groove;
  border-width: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: #5b6ec5;
}

.works {
  border-width: 10px;
  text-align: center;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.intro-text {
  border-style: groove groove groove groove;
  border-width: 10px;
  min-width: 360px;
  flex: 1;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  padding-bottom: 10px;
  flex-direction: column;
}

.button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 8px;
  width: 350px;
}

.button-em {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
  border-radius: 8px;
  width: 380px;
}

a:link {
  color: white;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-em:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.reseaux-sociaux {
  display: flex;
  gap: 1em;
  min-width: 360px;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-presentation {
  display: flex;
  gap: 1em;
  min-width: 360px;
  flex-wrap: wrap;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.area {
  background: #a7b1ff;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
